@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 121px 84px;
}

h2 {
    margin-left: 37px;
    font-size: 55px;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
}

.card-container {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 399px;
    height: 328px;
    margin-top: 45px;
}

.card-container > h3, .card-container > p {
    margin-left: 20px;
}

.card-container > h3 {
    font-size: 30px;
    margin-top: 11px;
    margin-bottom: 32px;
}

.card-container:last-child > h3 {
    margin-bottom: 1px;
}

.card-container > p {
    font-size: 25px;
}

@media screen and (max-width: 1279px) {
    .container {
        margin: 52px 48px;
    }

    h2 {
        margin-left: 22px;
        font-size: 32px;
        margin-bottom: 55px;
    }

    .cards {
        gap: 21px;
    }

    .card-container {
        border-radius: 17px;
        width: 231px;
        height: 190px;
        margin-top: 26px;
    }

    .card-container > img {
        width: 231px;
        height: 92px;
    }

    .card-container > h3, .card-container > p {
        margin-left: 11px;
    }

    .card-container > h3 {
        font-size: 17px;
        margin-top: 6px;
        margin-bottom: 18px;
    }

    .card-container > p {
        font-size: 14px;
    }
}

@media screen and (max-width: 991px) {
    .container {
        margin: 47px auto;
    }

    h2 {
        text-align: center;
        margin-left: -61px;
        font-size: 26px;
        margin-bottom: 34px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card-container {
        border-radius: 17px;
        width: 186px;
        height: 153px;
        margin-top: 24px;
    }

    .card-container > img {
        width: 186px;
        height: auto;
    }

    .card-container > h3, .card-container > p {
        margin-left: 9px;
    }

    .card-container > h3 {
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .card-container > p {
        font-size: 12px;
    }
}
