@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    margin: 91px 124px 157px;
}
h1{
    margin-bottom: 49px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 55px;
    line-height: 56px;
}
.center{
    display: flex;
}
.center .left{
    margin-right: 190px;
    width: 662px;
    height: 374px;
    line-height: 36px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto';
}
.left p{
    margin-bottom: 20px;
}
.right{
    width: 366px;
}
.right .camera{
    position: relative;
    width: 314px;
    height: 315px;
    top: 29px;
    left: 26px;
}
.right .ellipse{
    position: static;
}
footer{
    margin-top: 94px;
    display: flex;
    height: 203px;
}
.leftfoot{
    width: 232px;
}
.rightfoot{
    display: flex;
}
.rightfoot div{
    width: 150px;
    height: 39px;
    margin-left: 132px;
    text-align: center;
    padding-top: 70px;
}
.rightfoot .title{
    font-family: 'Roboto';
    font-size: 25px;
    line-height: 33px;
}
.rightfoot .text{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Roboto';
}
.leftfoot .ellipse{
    z-index: -10;
    position: relative;
    top: -20px;
    left: 30px;
}